html {
  font-size: 14px;
}
body {
  margin: 0;
  background: #eee;
  font-family: 'Consolas', '微软雅黑';
  user-select: none;
}
.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.hidden {
  display: none;
}

.header {
  height: 4rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  background: turquoise;
  box-shadow: 0 0.2rem 0.3rem rgba(48, 48, 48, 0.2);
  line-height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #eee;
}

.container {
  height: 80%;
  padding: 0 5%;
  overflow-y: scroll;
  .row {
    text-align: center;
    > span {
      display: inline-block;
      width: 10%;
      height: 24px;
      background: #fff;
      border: 1px solid #ccc;
      border-right-width: 0;
      border-bottom-width: 0;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      &.col-group-right {
        border-right-width: 1px;
      }
      &:first-child {
        border-left-width: 2px;
      }
      &:last-child {
        border-right-width: 2px;
      }
    }
    &.row-group-bottom {
      > span {
        border-bottom-width: 1px;
      }
    }
    &:first-child {
      > span {
        border-top-width: 2px;
      }
    }
    &:last-child {
      > span {
        border-bottom-width: 2px;
      }
    }
  }
}

.dashboard {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -0.1rem 0.2rem rgba(48, 48, 48, 0.2);
  font-size: 0px;
  .dashboard-btn {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    padding: 1rem;
    background: turquoise;
    border-right: 1px solid #eee;
    outline: none;
    font-size: 1.2rem;
    color: #eee;
    &:last-child {
      border-right: none;
    }
    &:active {
      border-left: none;
      border-top: none;
    }
  }
}
